# .gitignore
.Rhistory
.Rproj.user
Marial_Stuff/*
.RData
Marine_Genetic_Diversity_Proj.RProj
*tmp
~$*

#output files to ignore
output/boot*csv
output/*cis*csv


#extra stuff to ignore
model_structure.pptx
DHARMa_diagnostics.pptx
paper_figures.pptx
DataFiltering_Pipeline.pptx
*filtering_pipeline.png

#supplemental figures
supp_papersused2.docx

#scripts to ignore for now (not using)
scripts/covariable_exploration.R
scripts/*gam.R
scripts/*leverage.R