# .gitignore
.Rhistory
.Rproj.user
Marial_Stuff/*
.RData
Marine_Genetic_Diversity_Proj.RProj
*tmp
~$*

#output files to ignore
output/model_dredge_results.xlsx

#figures to ignore
figures/*latlon_only*
figures/*latlononly*

#extra stuff to ignore
model_structure.pptx
DHARMa_diagnostics.pptx

#supplemental figures
supp_papersused2.docx